.todo {
  padding: 0.7em 1em;
  margin: 0.7em;
  border-radius: 5px;

  list-style-type: none;
  font-size: 1em;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.todo:nth-of-type(3n) {
  background-color: red;
}

.todo:nth-of-type(3n + 1) {
  background-color: green;
}

.todo:nth-of-type(3n + 2) {
  background-color: var(--colors-primary);
}

.icon {
  cursor: pointer;
  margin-left: 0.3em;
  font-size: 1.5em;
  vertical-align: middle;
}
