.todo {
  padding: 1.1em 1.5em;
  margin-bottom: 0.8em;
  border-radius: 5px;

  list-style-type: none;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}

.todo:nth-last-child(1) {
  margin: 0;
}

.todo:nth-of-type(4n + 1) {
  background: linear-gradient(
    to right,
    var(--colors-orange-dark),
    var(--colors-orange)
  );
}

.todo:nth-of-type(4n + 2) {
  background: linear-gradient(
    to right,
    var(--colors-primary-dark),
    var(--colors-primary)
  );
}

.todo:nth-of-type(4n + 3) {
  background: linear-gradient(
    to right,
    var(--colors-blue-dark),
    var(--colors-blue)
  );
}

.todo:nth-of-type(4n) {
  background: linear-gradient(
    to right,
    var(--colors-pink-dark),
    var(--colors-pink)
  );
}

.text {
  flex-grow: 1;
  width: 1px; /* used for word wrap */

  overflow-wrap: normal;
  word-wrap: break-word;
  margin-right: 0.3em;
  cursor: pointer;
}

.iconsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  cursor: pointer;
  margin-left: 0.3em;
  font-size: 1.5em;
  vertical-align: middle;
}

.completed {
  text-decoration: line-through;
  background: linear-gradient(
    var(--colors-gray),
    var(--colors-gray)
  ) !important;
}
