* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --colors-dark: #161616;
  --colors-primary: rgb(86, 12, 255);
  --colors-primary-dark: rgb(65, 0, 218);
  --colors-primary-light: #5a66ff;
  --colors-blue: #127bff;
  --colors-blue-dark: rgb(5, 99, 214);
  --colors-orange: #fe5413;
  --colors-orange-dark: #d13e04;

  --colors-pink: #fa06b9;
  --colors-pink-dark: #b40385;

  --colors-light: white;
  --colors-gray: #505c61;
  --radius-normal: 3px;

  --max-width: 650px;
  --min-width: 400px;
  font-size: 80%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 600px) {
  html {
    font-size: 100%;
  }
}
